@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

@import "variables";
@import "typography";

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
  max-width: 100vw;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
