  :root {
    // Fonts
    --body-font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --code-font-family: 'Space Mono', 'Andale Mono', 'Ubuntu Mono', monospace;

    // Measurement
    --bu: 8px;
    // Misc
    --sidebar-width: 246px;

    --text-color: #8d8f91;
  }

  // Breakpoints
  $bp-mobile-sm: 321px;
  $bp-mobile-md: 376px;
  $bp-mobile-lg: 414px;
  $bp-tablet-sm: 562px;
  $bp-tablet-md: 768px;
  $bp-desktop-sm: 1120px;
  $bp-desktop-md: 1280px;
  $bp-desktop-lg: 1536px;

  // Spacing units
  $spacing-sizes: (
  'xxs': 1,
  'xs': 2,
  's': 3,
  'm': 5,
  'l': 8,
  'xl': 11,
  'xxl': 16,
  'xxxl': 25
  );

  $spacing-sides: (
  'top',
  'right',
  'bottom',
  'left'
  );
